.black-card {
    width: 100%; /* Автоматическая ширина */
    max-width: 400px; /* Ограничение максимальной ширины */
    height: 250px; /* Высота будет зависеть от контента */
    margin: 10px;
    background-color: #232323;
    transition: all 0.2s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* Учитываем отступы в размерах */
}

.black-card__title {
    font-family: RuslanDisplay;
    color: #ededed;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px; /* Отступ между заголовком и описанием */
}

.black-card__description {
    color: #dad9d9;
    font-weight: lighter;
    text-align: center;
    font-family: Broadleaf;
    font-size: 15px;
}

.black-card:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

/* Адаптивность для планшетов и телефонов */
@media (max-width: 1024px) { /* Для планшетов */
    .black-card {
        max-width: 350px;
        margin: 10px auto; /* Центрирование карточек */
    }

    .black-card__title {
        font-size: 22px;
    }

    .black-card__description {
        font-size: 14px;
    }
}

@media (max-width: 760px) { /* Для телефонов */
    .black-card {
        max-width: 280px;
        padding: 15px;
        margin: 10px auto;
    }

    .black-card__title {
        font-size: 18px;
    }

    .black-card__description {
        font-size: 13px;
    }
}

@media (max-width: 480px) { /* Для небольших телефонов */
    .black-card {
        max-width: 100%; /* Заполняет ширину экрана */
        margin: 5px auto;
    }

    .black-card__title {
        font-size: 16px;
    }

    .black-card__description {
        font-size: 12px;
    }
}
