.find-card__start {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.find-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #323232;
}

.find-card__header {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: RuslanDisplay;
}

.find-card__buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.find-card__button {
    font-family: RuslanDisplay;
    font-size: 17px;
    border-radius: 10px;
    border: 2px solid #323232;
    padding: 10px;
    width: 200px;
    margin-bottom: 2px;
}

.find-card__button.error {
    border-color: #ff0000;
    margin-bottom: 0;
}

.error-message {
    color: #ff0000;
    font-size: 12px;
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    text-align: center; /* Выравнивание по центру */
    font-family: Arial, sans-serif;
}

.find-card__open {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.find-card__input {
    width: 200px;
    height: 80px;
    margin-bottom: 20px;
}

.find-card__find-button {
    font-family: Broadleaf;
    font-size: 17px;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    margin-top: 5px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.non-field-error {
    color: #ff0000;
    font-size: 12px;
    margin: 5px 0;
    text-align: center; /* Выравнивание по центру */
    font-family: Arial, sans-serif;
    width: 100%;
}
