.container {
    display: flex;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
    border: #7f8c8d solid 1px;
    padding: 90px;
    background-color: #A52A2A;
}

.layout {
    background-color: #FFF9F0;
}

.texts {
    /*max-width: 500px;*/
    /*margin-left: 100px;*/
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #fffcf5;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: RuslanDisplay;
}

.title-bottom {
    margin-top: 50px;
    color: #FFD700;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: RuslanDisplay;
}

.arrow-right {
    font-size: 34px;
    margin-top: 16px;
    color: #020101;
}

.arrow-right:hover {
    color: #d11212;
}

.bottom {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.text {
    margin-top: 30px;
    color: #cfcac2;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    font-family: Broadleaf;

}

.text-bottom {
    margin-top: 30px;
    color: #000000;
    font-size: 25px; /* Размер шрифта для текста */
    line-height: 29px;
    text-align: left; /* Выравнивание текста */
    font-family: Broadleaf;
}

/* Стили для карточек */
.cards {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 1200px) {
    .arrow-right {
        font-size: 0;
    }
    .container {
        flex-direction: column; /* Вертикальное расположение на мобильных */
        align-items: center;
        margin: 10px; /* Уменьшенные отступы на мобильных */
        margin-top: 80px;
    }

    .bottom {
        margin-top: 0;
    }

    .texts, .cards {
        margin-left: auto;
        margin-right: auto;
        text-align: center; /* Центрируем текст на мобильных устройствах */
    }

    .title {
        font-size: 40px; /* Меньший размер заголовка на мобильных */
    }

    .text {
        font-size: 20px; /* Меньший размер текста на мобильных */
    }
    .arrow-right {
        display: none;
    }
}
