.white-card {
    width: 280px;
    height: 380px;
    margin: 15px;
    background: #ffa300;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(139, 69, 19, 0.1);
    border-radius: 8px;
}

.white-card__content {
    padding: 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.white-card__title {
    font-family: "RuslanDisplay", sans-serif;
    color: #A52A2A;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-card__description {
    font-family: "PT Sans", sans-serif;
    color: #5A3E36;
    font-size: 14px;
    opacity: 0;
    max-height: 0;
    transition: all 0.4s ease;
    text-align: center;
}

.white-card__border {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #A52A2A;
    transition: all 0.3s ease;
}

/* Эффекты */
.white-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(139, 69, 19, 0.15);
}

.white-card:hover .white-card__border {
    width: 8px;
}

.white-card:hover .white-card__description {
    opacity: 1;
    max-height: 200px;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .white-card {
        width: 240px;
        height: 340px;
    }
    .white-card__title {
        font-size: 20px;
    }
}
